*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: SfPro;
  font-size: 10px;
  margin: 1%;
  color: #343434;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.container {
  margin: 0 auto;
  max-width: 420px;
  background-color: #E2E2E2;
}

nav {
  width: 420px;
}

.title {
  margin: 0 auto;
  padding: 20px 0 16px 20px;
  width: 420px;
  background-color: #E2E2E2;
  font-size: 3em;
  font-weight:500;
}

.bus-table {
  width: 95%;

  border: 10px 5px 0px 5px #E2E2E2;
  margin: 0 auto;
}

.bus-data {
  border-bottom: 1px solid #E2E2E2;
  text-indent: 15px;
  background-color: #FAFAFA;
  padding: 10px 0;
  width: 400px;
}

/* bus information */
.content  {
  display: inline-block;
  width: 45%;
  vertical-align: bottom;
}

.content h1 {
  font-size: 2.2em;
  line-height: 1.4;
}

.content h3 {
  font-size: 1.3em;
  line-height: 1.4;
  color: #646464;
}

/* eta information */
.eta-more {
  display: inline-block;
  text-align: right;
  float: right;
  vertical-align: baseline;
  width: 47%
}

.eta {
  display: inline-block;
  padding-top: 12px;
}

.arrow-right {
  display: inline-block;
  float: right;
  padding-right: 10px;
  padding-top: 20px;
}

.eta h1 {
  font-size: 2em
}

.eta h3 {
  font-size: 1.2em;
}
